/*--/content-6--*/
.about-us-content .about-content-div {
    background: #fff;
  }
  
  .about-us-content .about-us-info {
    align-items: center;
  }
  
  .about-us-content .about-content-div h4 {
    font-size: 22px;
    line-height: 32px;
    color: #101923;
    opacity: 0.9;
  }
  
  .about-us-content .about-us-info p {
    line-height: 25px;
    font-size: 15px;
  }
  
  
  @media (max-width: 1440px) {
    .about-us-content .counter-6-inf-left h4 {
      line-height: 70px;
      font-size: 50px;
      width: 60%;
    }
  }
  
  @media (max-width:991px) {}
  
  @media (max-width:767px) {}
  
  @media (max-width: 668px) {
    .about-us-content .about-us-info p {
      line-height: 25px;
      font-size: 15px;
    }
  }
  
  @media (max-width:600px) {
    .about-us-content .about-content-div h4 {
      font-size: 20px;
      line-height: 30px;
    }
  }

  .about-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  @media (min-width: 576px) {
    .about-container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .about-container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .about-container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .about-container {
      max-width: 1140px;
    }
  }
  
  .about-container-fluid,
  .about-container-sm,
  .about-container-md,
  .about-container-lg,
  .about-container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  @media (min-width: 576px) {
  
    .about-container,
    .about-container-sm {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
  
    .about-container,
    .about-container-sm,
    .about-container-md {
      max-width: 720px;
    }
    .mb-md-0,
    .my-md-0 {
      margin-bottom: 0 !important;
    }
  }
  
  @media (min-width: 992px) {
  
    .about-container,
    .about-container-sm,
    .about-container-md,
    .about-container-lg {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
  
    .about-container,
    .about-container-sm,
    .about-container-md,
    .about-container-lg,
    .about-container-xl {
      max-width: 1140px;
    }
  }

  @media (min-width: 576px) {
    .pt-lg-5,
    .py-lg-5 {
      padding-top: 3rem !important;
    }
    .pb-lg-5,
    .py-lg-5 {
      padding-bottom: 3rem !important;
    }
    .pl-lg-4,
  .px-lg-4 {
    padding-left: 1.5rem !important;
  }
  }

  .why-choose-us {
    background: #F3F1F1;
  }
  
  .why-choose-us .about-us-info h6 {
    margin: 0px 0 6px 0;
  }
  
  .why-choose-us .about-us-info {
    align-items: center;
  }
  
  .why-choose-us .about-us-info h6 a {
    text-align: left;
    margin-bottom: 0;
    color: #101923;
    font-weight: 700;
    font-size: 20px;
  }
  
  .why-choose-us .about-us-info h6 a:hover {
    color: #ff4d00;
  }
  
  .why-choose-us .content4-icon {
    color: #ff0000;
    font-size: 30px;
    text-align: center;
  }
  
  .why-choose-us .content-4-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    border-top: 1px solid #ddd;
    margin-top: 40px;
    padding-top: 40px;
  }
  
  .why-choose-us .content4-right-info {
    padding-left: 0;
  }
  
  .why-choose-us .content4-icon span.fa {
    margin-top: 4px;
    vertical-align: super;
  }
  
  .why-choose-us .content4-icon:hover span.fa {
    color: #ff4d00;
    transition: 0.3s ease;
  }
  
  @media (max-width: 992px) {
    .why-choose-us .content-right {
      margin-bottom: 50px;
    }
    .pt-lg-4,
  .py-lg-4 {
    padding-top: 1.5rem !important;
  }
  .pb-lg-4,
  .py-lg-4 {
    padding-bottom: 1.5rem !important;
  }
  }
  
  @media (max-width: 767px) {
    .why-choose-us .content4-icon {
      margin-bottom: 14px;
    }
  
    .why-choose-us .about-us-info h6 a {
      font-size: 22px;
    }
  
    .why-choose-us .content4-right-info {
      padding-left: 15px;
    }
  
    .why-choose-us .content4-icon span.fa {
      margin-top: 0px;
      vertical-align: middle;
    }
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    padding-top: 5%;
    margin-right: -15px;
    margin-left: -15px;
  }
  .col-md-6,
  .col-lg-4,
  .pic1-div{
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
  }

  @media (min-width: 992px) {
    .pic1-div {
        flex: 0 0 50%;
        max-width: 50%;
      }
      .col-lg-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
      }
      .res-margin-0,
  .my-lg-0 {
    margin-top: 0 !important;
  }
  .pl-lg-4,
  .px-lg-4 {
    padding-left: 1.5rem !important;
  }
    }

    .about-img {
        max-width: 100%;
        height: auto;
      }

      .mr-5,
      .my-5 {
        margin-top: 3rem !important;
      }


      .align-self-auto {
        align-self: auto !important;
      }
      
      .align-self-start {
        align-self: flex-start !important;
      }
      
      .align-self-end {
        align-self: flex-end !important;
      }
      
      .align-self-center {
        align-self: center !important;
      }
      
      .align-self-baseline {
        align-self: baseline !important;
      }
      
      .align-self-stretch {
        align-self: stretch !important;
      }

.heading-title,
.heading-title-1 {
  position: relative;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: hsla(234, 50%, 64%, 1);
  text-transform: uppercase;
}

.heading-title-1 {
  color: #fff;
}

@media (max-width: 384px) {

    h3.para {
      font-size: 22px;
      line-height: 30px;
    }
  
    p.title-para {
      margin: 0 auto;
      width: 100%;
    }
  
    .heading-title,
    .heading-title-1 {
      font-size: 14px;
    }
  }

  h3.para {
  font-size: 36px;
  line-height: 46px;
  color: #1C1717;
  text-transform: capitalize;
  font-weight: 700;
}


@media (max-width: 992px) {

    h3.para {
      font-size: 30px;
      line-height: 40px;
    }
  
    p.title-para {
      margin: 0 auto;
      width: 80%;
    }
  }

  @media (max-width: 768px) {

    h3.para{
      font-size: 26px;
      line-height: 35px;
    }
    .col-md-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  .mt-3,
.my-3 {
  margin-top: 1rem !important;
}

.bttn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  @media (prefers-reduced-motion: reduce) {
    .bttn {
      transition: none;
    }
  }
  
  .bttn:hover {
    color: #212529;
    text-decoration: none;
  }
  
  .bttn:focus,
  .bttn.focus {
    outline: 0;
    box-shadow: none;
  }
  
  .bttn.disabled,
  .bttn:disabled {
    opacity: 0.65;
  }

  .bttn-style {
    padding: 0px 40px;
    color: #fff;
    height: 50px;
    display: inline-block;
    font-size: 16px;
    line-height: 50px;
    text-transform: capitalize;
    font-weight: 700;
    transition: 0.3s ease-in;
    border-radius: 4px;
    background-color: #ff0000;
    border-color: #ff0000;
  }
  
  .bttn-style:hover {
    background-color: #ff4d00;
    border-color: #ff4d00;
    color: #fff;
  
  }

  a.bttn.disabled,
fieldset:disabled a.bttn {
  pointer-events: none;
}

.bttn-primary {
  color: #fff;
  background-color: #d63447;
  border-color: #d63447;
}

.bttn-primary:hover {
  color: #fff;
  background-color: #bd2638;
  border-color: #b32435;
}

.bttn-primary:focus,
.bttn-primary.focus {
  color: #fff;
  background-color: #bd2638;
  border-color: #b32435;
  box-shadow: 0 0 0 0.2rem rgba(220, 82, 99, 0.5);
}

.bttn-primary.disabled,
.bttn-primary:disabled {
  color: #fff;
  background-color: #d63447;
  border-color: #d63447;
}

.bttn-primary:not(:disabled):not(.disabled):active,
.bttn-primary:not(:disabled):not(.disabled).active,
.show>.bttn-primary.dropdown-toggle {
  color: #fff;
  background-color: #b32435;
  border-color: #a82232;
}

.bttn-primary:not(:disabled):not(.disabled):active:focus,
.bttn-primary:not(:disabled):not(.disabled).active:focus,
.show>.bttn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 82, 99, 0.5);
}

.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}

.text-left {
    text-align: left !important;
  }

  @media (max-width:600px){
    .text-left.img-grids {
        padding: 0 15px;
      }
  }

  .mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.poverty-sec {}

.poverty-sec .content-5-grids {
  align-items: center;
}

.poverty-sec .icon-holder span.fa {
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  transition: all 0.3s ease;
  border-radius: 100%;
  color: #ff0000;
  font-size: 26px;
  background: #ffe5e5;
  text-align: center;
}

.poverty-sec h4 {
  font-size: 24px;
  line-height: 34px;
  color: #443737;
  text-transform: capitalize;
  font-weight: 700;
}

@media (max-width:767px) {
  .content-5-one:nth-child(2) {
    margin: 50px 0;
  }
}

.pb-5,
.py-5 {
  padding-bottom: 3rem !important;
}

.pt-5,
.py-5 {
  padding-top: 3rem !important;
}

/*--/content-5--*/
.poverty-sec {}

.poverty-sec .content-5-grids {
  align-items: center;
}

.poverty-sec .icon-holder span.fa {
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  transition: all 0.3s ease;
  border-radius: 100%;
  color: #ff0000;
  font-size: 26px;
  background: #ffe5e5;
  text-align: center;
}

.poverty-sec h4 {
  font-size: 24px;
  line-height: 34px;
  color: #443737;
  text-transform: capitalize;
  font-weight: 700;
}

@media (max-width:767px) {
  .content-5-one:nth-child(2) {
    margin: 50px 0;
  }
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
 @font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* makes the font 33% larger relative to the icon about-container */
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.fa-2x {
  font-size: 2em;
}

.fa-3x {
  font-size: 3em;
}

.fa-4x {
  font-size: 4em;
}

.fa-5x {
  font-size: 5em;
}

.fa-fw {
  width: 1.28571em;
  text-align: center;
}

.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none;
}

.fa-ul>li {
  position: relative;
}

.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center;
}

.fa-li.fa-lg {
  left: -1.85714em;
}

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em;
}

.fa-pull-left {
  float: left;
}

.fa-pull-right {
  float: right;
}

.fa.fa-pull-left {
  margin-right: .3em;
}

.fa.fa-pull-right {
  margin-left: .3em;
}

.fa-heart-o:before {
  content: "ï‚Š";
}