
.about-us-content .about-content-div {
    background: #fff;
  }
  
  .about-us-content .about-us-info {
    align-items: center;
  }
  
  .about-us-content .about-content-div h4 {
    font-size: 22px;
    line-height: 32px;
    color: #101923;
    opacity: 0.9;
  }

  .about-content-div{
    padding-bottom: 3rem !important;
    padding-top: 10rem !important;
  }
  
  .about-us-content .about-us-info p {
    line-height: 25px;
    font-size: 15px;
  }
  
  .about-us-info{
    display: flex;
    flex-wrap: wrap;
    padding-top: 5%;
    margin-right: -15px;
    margin-left: -15px;
  }

  .pic1-div{
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
  }

  @media (min-width: 992px) {
    .pic1-div {
        flex: 0 0 50%;
        max-width: 50%;
      }
    }

    .about-img {
        max-width: 100%;
        height: auto;
      }

.heading-title,
.heading-title-1 {
  position: relative;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: hsla(234, 50%, 64%, 1);
  text-transform: uppercase;
}

.heading-title-1 {
  color: #fff;
}

  h3.para {
  font-size: 36px;
  line-height: 46px;
  color: #1C1717;
  text-transform: capitalize;
  font-weight: 700;
}
