.grid-compo { 
    height:max-content;
    grid-template-columns: 1fr 1fr 1fr !important; 
}

.compo-card-campaign {
    height: 300px;
    padding: 40px;
    box-shadow: 0 0 0 0.05rem hsla(214, 88%, 27%, 0.08), 0 0 1.25rem hsla(216, 14%, 14%, 0.06);
    border-radius: 6px;
    margin: 20px;
  }
  
  .compo-card-campaign .card-icon {
    width: 60px;
    height: 60px;
    background-color: hsla(234, 50%, 64%, 1);
    display: grid;
    place-items: center;
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    border-radius: 50%;
    margin-inline: auto;
  }
  .compo-card-campaign .card-title { margin-block: 16px 10px; }
  
  .compo-card-campaign .btn-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin-block-start: 10px;
    color: hsla(234, 50%, 64%, 1);
    font-weight: 700;
  }